PORT=3001
NODE_ENV=production

# Put your real deployed frontend URL here
FRONTEND_ORIGIN=https://your-frontend-domain.com

# MUST be long random
JWT_SECRET=change-this-to-a-long-random-secret

# Put DB on persistent disk path in production
DB_FILE=./data.sqlite

DEFAULT_HOURLY_RATE_MNT=15000